nav
  a(href="/stats/") Статистика
  = " • "
  a(href="/about/") О проекте
  = " • "
  a(href="/rss.xml") RSS
  = " • "
  a(href="https://github.com/iamstarkov/cssunderhood") GitHub
  = " • "
  a(href="https://google.com/?q=site:cssunderhood.ru+что-нибудь") Поиск
